html, body {
    margin: 0;
    padding: 0;
}

.aboutButton {
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: large;
}
#aboutDialog {
    max-width: 500px;
}

#lobby-screen {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    height: 100dvh;
    min-height: 400px;
    position: relative;
}
#gameListDiv {
    flex: 1;
    min-height: 10em;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}
#globalChatDiv {
    max-width: 600px;
    display: flex;
    flex-direction: column;
}
.timeControlButton {
    min-width: 5em;
}
.timeEntry {
    width: 3em;
}


#game-screen {
    box-sizing: border-box;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    position: relative;
}
#boardAndChatContainer {
    width: fit-content;
}

#boardContainer {
    display: inline-flex; /* Aligns child elements horizontally by default */
    width: fit-content;
    justify-content: left; /* Distributes space evenly between elements */
    align-items: stretch; /* Aligns elements vertically in the center */
    border: 1px solid #ccc;
    padding: 0px;
}
#gameButtonsDiv {
    display: flex;
    overflow: auto;
    gap: 5px;
    width: calc(100dvw - 40px);
}
#gameButtonsDiv button {
    white-space: nowrap;
}

#movesLogContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid #ccc;
}

#movesLogButtonsDiv {
    width: fit-content;
    margin: 0 auto;
    white-space: nowrap;
}

#movesLogDiv {
    display: flex;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
    min-width: 120px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.movesLogColumn {
    padding: 5px;
}


#chatContainer {
    display: flex;
    gap: 5px;
    height: fit-content;
    border: 1px solid #ccc;
    padding: 10px;
}

#chatDiv {
    display: grid;
    flex: 1;
    height: fit-content;
    border: 1px solid #ccc;
}

.chatLog {
    resize: none;
}

.chatEntryContainer {
    display: flex;
    width: 100%;
    gap: 5px;
    flex-wrap: wrap;
}

.chatEntry {
    flex-grow: 1;
    width: 100px;
}

#rulesDiv {
    max-width: 525px;
    margin-top: 5px;
}

.rule {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
}
.rule span {
    flex-shrink: 0;
    margin-right: 5px;
}
.rule label {
    flex: 1;
}
.indented-rule {
    margin-left: 40px;
}