
input[type=number][size="1"]{ width: 2em; }

input[type=number][size="2"]{ width: 3em; }

html, body {
    margin: 0;
    padding: 0;
}
#lobby-screen {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    height: calc(100vh - 22px);
    min-height: 529px; /* TODO: figure out how to do this automatically */
}
#gameListDiv {
    flex: 1;
    min-height: 7em;
    max-width: 600px;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #ccc;
}
.timeControlButton {
    min-width: 5em;
}


#game-screen {
    box-sizing: border-box;
    width: fit-content;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
}
#boardAndChatContainer {
    width: fit-content;
}

.boardContainer {
    display: inline-flex; /* Aligns child elements horizontally by default */
    width: fit-content;
    justify-content: left; /* Distributes space evenly between elements */
    align-items: stretch; /* Aligns elements vertically in the center */
    border: 1px solid #ccc;
    padding: 10px;
}

#movesLogContainer {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 1px solid #ccc;
}

#movesLogButtonsDiv {
    width: fit-content;
    margin: 0 auto;
}

#movesLogDiv {
    display: flex;
    overflow-y: auto;
    flex: 1;
    min-height: 0;
    min-width: 120px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}

.movesLogColumn {
    padding: 5px;
}


#chatContainer {
    display: flex;
    gap: 5px;
    height: fit-content;
    border: 1px solid #ccc;
    padding: 10px;
}

#chatDiv {
    display: grid;
    flex: 1;
    height: fit-content;
    border: 1px solid #ccc;
}

.chatLog {
    width: 100%;
    resize: none;
}

.chatEntryContainer {
    display: flex;
    width: 100%;
    gap: 5px;
}

.chatEntry {
    flex-grow: 1;
}

#rulesDiv {
    max-width: 550px;
}

.rule {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4px;
}
.rule span {
    flex-shrink: 0;
    margin-right: 5px;
}
.rule label {
    flex: 1;
}
.indented-rule {
    margin-left: 40px;
}